body {
  padding: 0;
  margin: 0;
  font-family: "Acme";
}
body a {
  text-decoration: none;
  color: #000;
}

.container {
  margin: 25px 50px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
nav .logo {
  font-size: xx-large;
}
nav .logo a {
  color: #53BD95;
}
nav .links a {
  padding-right: 20px;
}
nav .links a:hover {
  color: #53BD95;
}
nav .linkss a {
  margin-left: 20px;
  background-color: #53BD95;
  padding: 6px 15px;
  border-radius: 5px;
}
nav .linkss a:hover {
  background-color: #368d6c;
  color: #fff;
}
nav .search {
  color: #7c7979;
  display: none;
}
nav .bars {
  display: none;
  font-size: larger;
  background-color: #53BD95;
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #e4e0e0;
}
.main .left > .child1 > .child, .main .right > .child2 {
  font-size: larger;
  padding-bottom: 15px;
}
.main .left > .child1 > .child a, .main .right > .child2 a {
  color: #7c7979;
  border-bottom: 2px solid #e4e0e0;
  padding-bottom: 15px;
}
.main .left > .child1 > .child a:hover, .main .right > .child2 a:hover {
  border-bottom-color: #53BD95;
  color: #53BD95;
}
.main .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .left .child1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .left .child1 .child {
  margin-right: 25px;
}
.main .left .more {
  color: #fff;
  font-size: larger;
  display: none;
  position: absolute;
  right: 0px;
  top: 75px;
  padding: 10px 15px 10px 10px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  background-color: #53BD95;
  z-index: 3;
}
.main .right > .ii {
  color: #7c7979;
  display: none;
}
.main .right > .child2 a i {
  padding-right: 15px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 70px 1fr;
  grid-template-columns: 3fr 1fr;
  grid-gap: 70px;
  margin-top: 30px;
  padding-left: 30px;
}
.content .content_l .first .mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .content_l .first .mini img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.content .content_l .first .mini p {
  color: #000;
  font-size: 15px;
}
.content .content_l .first p {
  color: #7c7979;
}
.content .content_l .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  background-color: #f4f5f7;
  border-radius: 10px;
  padding: 30px;
}
.content .content_l .second .abc h3 {
  margin: 0;
}
.content .content_l .second .abc p {
  color: #7c7979;
  margin-bottom: 30px;
}
.content .content_l .second .abc .button a {
  background-color: #53BD95;
  padding: 10px 35px;
  border-radius: 5px;
  color: #fff;
}
.content .content_l .second .abc .button a:hover {
  background-color: #3da07b;
}
.content .content_l .second .xyz img {
  height: 180px;
  width: 150px;
}
.content .content_r p {
  color: #7c7979;
}
.content .content_r input {
  padding: 10px 20px;
  margin: 15px 0;
  font-weight: bold;
}
.content .content_r input:focus {
  border: 2px solid #53BD95;
  -webkit-box-shadow: 0 0 7px 0.15px #53BD95;
          box-shadow: 0 0 7px 0.15px #53BD95;
  outline: none;
}
.content .content_r .buttonn {
  margin: 15px 0 35px;
}
.content .content_r .buttonn a {
  border: 2px solid #53BD95;
  border-radius: 5px;
  padding: 10px 25px;
  color: #53BD95;
}
.content .content_r .buttonn a:hover {
  background-color: #53BD95;
  color: #fff;
}
.content .content_r .demo a {
  color: #53BD95;
}
.content .content_r .demo a:hover {
  color: #368d6c;
}
.content .content_r .icons {
  margin-top: 30px;
  border-top: 1px solid #e4e0e0;
  border-bottom: 1px solid #e4e0e0;
  padding: 20px 0;
}
.content .content_r .icons a {
  color: #7c7979;
  margin-right: 25px;
}
.content .content_r .icons a:hover {
  color: #333131;
}
.content .content_r .updated {
  margin-top: 25px;
}
.content .content_r .updated a {
  margin-right: 15px;
  color: #7c7979;
}
.content .content_r .updated a:hover {
  color: #333131;
}

@media (max-width: 1030px) {
  nav > .links:hover, .main:hover {
    pointer-events: none;
  }
}
@media (max-width: 950px) {
  .container {
    margin: 10px 15px;
  }

  .content {
    display: block;
  }
}
@media (max-width: 850px) {
  nav .links {
    left: 0px;
    background-color: #53BD95;
    top: -100%;
    position: absolute;
    width: 100%;
    margin-bottom: 20px;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    z-index: 1;
    padding: 20px 0;
  }
  nav .links a {
    display: block;
    padding: 10px;
    color: #fff;
  }
  nav .linkss {
    position: absolute;
    top: 65px;
    left: 0px;
  }
  nav .linkss a {
    color: #53BD95;
    background-color: transparent;
    padding: 0px;
  }
  nav .search {
    display: block;
    right: 65px;
    position: absolute;
  }
  nav .bars {
    display: block;
  }

  .main .right .child2 {
    display: none;
  }
  .main .right .ii {
    display: block;
  }
}
@media (max-width: 700px) {
  .main {
    padding: 0 40px;
    border-bottom: none;
  }
  .main .left .child1 {
    display: block;
    top: 120px;
    left: -100%;
    position: absolute;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    background-color: #53BD95;
    z-index: 2;
    width: 90%;
    padding: 10px;
  }
  .main .left .child1 .child a {
    padding-top: 15px;
    border-bottom: none;
    color: #fff;
  }
  .main .left .more {
    display: block;
  }
}
@media (max-width: 550px) {
  .content > .content_l > .second > .xyz {
    display: none;
  }

  .content {
    padding: 0px;
  }
}