$main: #53BD95;
$grey: rgb(124, 121, 121);

body {
    padding: 0;
    margin: 0;
    font-family: 'Acme';
    a{
        text-decoration: none;
        color: #000;
    }
}

.container {
    margin: 25px 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    .logo {
        font-size: xx-large;
        a {
            color: $main;
        }
    }
    .links {
        a {
            padding-right: 20px;
            // border-bottom: 2px solid #000;
            &:hover {
                color: $main;
                // border-bottom-color: $main;
                // text-decoration: underline;
            }
        }
    }
    .linkss {
        a {
            margin-left: 20px;
            background-color: $main;
            padding: 6px 15px;
            border-radius: 5px;
            &:hover {
                background-color: darken($color: $main, $amount: 15);
                color: #fff;
            }
        }
    }
    .bars {
        display: none;
        font-size: larger;
        background-color: $main;
        padding: 8px 12px;
        color: #fff;
        border-radius: 5px;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(228, 224, 224);
    .left > .child1 > .child, .right > .child2 {
        font-size: larger;
        padding-bottom: 15px;
        a {
            color: $grey;
            border-bottom: 2px solid rgb(228, 224, 224);
            padding-bottom: 15px;
            &:hover {
                border-bottom-color: $main;
                color: $main;
            }
        }
    }
    .left {
        display: flex;
        .child1 {
            display: flex;
            .child {
                margin-right: 25px;
            }  
        } 
        .more > a {
            color: $grey;
            // border-bottom: 2px solid rgb(228, 224, 224);
            // padding-bottom: 15px;
            font-size: larger;
            display: none;
        }
    }
    .right > .ii {
        color: $grey;
        display: none;
    }
}

.content {
    display: flex;
    margin-top: 30px;
    .content_l {
        width: 75%;
        padding: 0 100px;
        .first {
            .mini {
                display: flex;
                align-items: center;
                img {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                }
                p {
                    color: #000;
                    font-size: 15px;
                }
            }
            p {
                color: $grey;
            }
        }
        .second {
            display: flex;
            margin-top: 50px;
            background-color: rgb(244, 245, 247);
            border-radius: 10px;
            padding: 30px;
            .abc {
                h3 {
                    margin: 0;
                }
                p {
                    color: $grey;
                    margin-bottom: 30px;
                }
                .button {
                    margin-top: 10px;
                    a{
                        background-color: $main;
                        padding: 10px 35px;
                        border-radius: 5px;
                        color: #fff;
                        &:hover {
                            background-color: darken($color: $main, $amount: 10);
                        }
                    }
                }
            }
            .xyz {
                img {
                    height: 180px;
                    width: 150px;
                }
            }
        }
    }
    .content_r {
        width: 25%;
        p {
            color: $grey;
        }
        input {
            padding: 10px 20px;
            margin: 15px 0 25px ;
            border:  2px solid rebeccapurple;
            font-weight: bold;
        }
        input:focus {
            background-color: rgb(228, 224, 224);
            border: 2px solid red;
        }
        .buttonn {
            margin-bottom: 35px;
            a {
            border: 2px solid $main;
            border-radius: 5px;
            padding: 10px 25px;
            color: $main;
            &:hover {
                background-color: $main;
                color: #fff;
            }
            }
        }
        .demo {
            a {
                color: $main;
                &:hover {
                    color: darken($color: $main, $amount: 15);
                }
            }
        }

        .icons {
            margin-top: 30px;
            border-top: 1px solid rgb(228, 224, 224);
            border-bottom: 1px solid rgb(228, 224, 224);
            padding: 20px 0;
            a {
            color: $grey;
            margin-right: 25px;
            &:hover {
                color: rgb(51, 49, 49);
            }
            }
        }

        .updated {
            margin-top: 25px;
            a {
                margin-right: 15px;
                color: $grey;
                &:hover {
                    color: rgb(51, 49, 49);
                }
            }
        }
    }
}

@media (max-width: 1030px) {
    .container {
        margin: 20px 25px;
    }
    
    .content {
        // display: block;
        .content_l {
            padding: 0 30px 0 50px;
            width: 100%;
        }
    }
}

@media (max-width: 950px) {
    .container {
        margin: 10px 15px;
    }
    .content {
        display: block;
        .content_l {
            padding: 0 30px;
            width: 100%;
        }
        .content_r {
            // margin: auto;
            // width: 50%; 
            padding-left: 30px;
            width: 75%;

        }
    }
}

@media (max-width: 850px) {
    nav {
        .links {
            left: 0px;
            background-color: $main;
            top: -100%;
            position: absolute;
            width: 100%;
            // display: none;
            margin-bottom: 20px;
            transition: ease-in-out .7s;
            z-index: 1;
            a {
            display: block;
            padding: 10px;
            color: #fff;
            }
        } 
        .bars {
            display: block;
        }
    }
    .main {
        .right {
            .child2 {
                display: none;
            }
            .ii {
                display: block;
            }
        }
    }
    

}

@media (max-width: 700px) {
    .main {
        padding: 0 40px;
        border-bottom: none;
        .left {
            .child1 {
                display: block;
                top: 120px;
                left: -100%;
                position: absolute;
                transition: ease-in-out .5s;
                background-color: $main;
                z-index: 2;
                width: 100%;
                padding-left: 10px;
                .child {
                    a {
                        border-bottom: none;
                        color: #fff;
                    }
                }
            }  
            .more > a{
                display: block;
            }
    }
    }
}

@media (max-width: 550px) {
    
    .content > .content_l > .second > .xyz {
        display: none;
    }
}

@media (max-width: 450px) {
    nav {
        .linkss {
            a {
                padding: 6px 7px;
                margin-left: 0;
                font-size: x-small;
                color: #fff;
            }
        }
    }
    .content {
        .content_l {
            padding: 0px;
        }
    }
}